.navbar-default,
.navbar-default.navbar-fixed-top.navbar-shrink,
.navbar-collapse {
  background-color: #063651;
}

a, a:hover, a:focus {
  color: #315b7f;
}

.rotate-box-1.square-icon .rotate-box-icon,
.rotate-box-2.square-icon .rotate-box-icon {
  background-color: #315b7f;
}

.footer-top {
  background-color: #586d7f;
}

.team-hover {
  background-color: rgba(179, 216, 242, .8);
}

.testimonial .cover {
  background-color: rgba(6,54,81, 0.8);
}

.counter-up .cover {
  background-color: rgba(6,54,81, 0.8);
}

.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  color:#fff;
}

section#text-carousel-intro-section {
    color: #ffffff;
    z-index: -25;
    background: #063651; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#020913 0%, #00121E 19%, #001F3A 28%, #063651 56%, #2B546B 71%, #827C6C 100%);
	background: -o-linear-gradient(#020913 0%, #00121E 19%, #001F3A 28%, #063651 56%, #2B546B 71%, #827C6C 100%);
	background: -moz-linear-gradient(#020913 0%, #00121E 19%, #001F3A 28%, #063651 56%, #2B546B 71%, #827C6C 100%);
	background: linear-gradient(#020913 0%, #00121E 19%, #001F3A 28%, #063651 56%, #2B546B 71%, #827C6C 100%); /* Standard syntax */
}
