/* .navbar-default,
.navbar-default.navbar-fixed-top.navbar-shrink,
.navbar-collapse {
  background-color: #063651;
} */

.navbar-solid {
  -webkit-box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
}

.navbar-custom {
  background-color: transparent;
}

.navbar-custom {
  border: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #315b7f;
  transition: all 0.2s linear 0s; }
  .navbar-custom .navbar-nav li {
    margin: 0; }
  .navbar-custom .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid transparent; }
    .navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
      background-color: transparent;
      border-color: rgba(255, 255, 255, 0.5); }
  .navbar-custom .navbar-nav > .active > a {
    border-color: rgba(255, 255, 255, 0.5); }

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding-top: 30px; }

  .site-branding {
    margin-top: 6px;
    margin-left: 0; }
  #navbar-items{
    padding-left: 60px;
    padding-right: 60px;} }


.navbar-toggle {
  border: 0;
  border-radius: 0;
  margin-top: 2px; }
  .navbar-toggle .icon-bar {
    background-color: #fff; }

.navbar-solid {
  background-color: #315b7f !important;
  padding: 0 !important;
  transition: all 0.2s linear 0s; }
  .navbar-solid .site-branding {
    max-width: 360px;
    display: block !important; }    


a, a:hover, a:focus {
  color: #315b7f;
}

.rotate-box-1.square-icon .rotate-box-icon,
.rotate-box-2.square-icon .rotate-box-icon {
  background-color: #315b7f;
}

.footer-top {
  background-color: #586d7f;
}

.team-hover {
  background-color: rgba(179, 216, 242, .8);
}

.header .cover {
    background-color: rgba(49,91,127, 0.5)

}

.testimonial .cover {
  background-color: rgba(49,91,127, 0.5);
}

.counter-up .cover {
  background-color: rgba(49,91,127, 0.5);
}

.navbar-default.navbar-fixed-top.navbar-shrink .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a {
  color:#fff;
}
