<header id="parent">
    <div class="container">
        <div class="row" id="child">
            <div class="col-md-12">
                <div class="text-center">
                    <img src="assets/images/lhd.png" id="logo-animation">
                    <h1 class="title"><small>Organized by <a target="_blank" href="https://team.hackcu.org">HackCU</a> and <a target="_blank" href="https://mlh.io">MLH</a>
                    <br>Hosted by <a target="_blank" href="https://education.github.com/">GitHub</a></small>
                    </h1>
                    <h3>200 Hackers &middot; 12 Hours</h3>
                    <h3>December 7<sup>th</sup> 2019</h3>

                    <div class="buttons title">
                        <!--Inspired by https://github.com/HackCU/HackCU-Temp by Alex Walling-->
                        <div class="svg-wrapper">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape" height="40" width="150"/>
                                <div class="text">
                                    <a href="{{site.register}}" target="_blank">Register</a>
                                </div>
                            </svg>
                        </div>
                        {% if site.sponsor_form %}
                        <div class="svg-wrapper">
                            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                <rect class="shape" height="40" width="150"/>
                                <div class="text">
                                    <a href="{{ site.sponsor_form }}" target="_blank">Sponsor</a>
                                </div>
                            </svg>
                        </div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>
