<section id="volunteer_mentor" class="section-reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <h2>Want to build Local Hack Day with us?</h2>
                <hr>
                <p class="lead">Help us make this happen and welcome over 200 awesome hackers. Register now!</p>
                <div class="buttons">
                    <div class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="40" width="150"/>
                            <div class="text">
                                <a href="{{ site.volunteers_form }}" target="_blank">Volunteer</a>
                            </div>
                        </svg>
                    </div>
                    <div class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect class="shape" height="40" width="150"/>
                            <div class="text">
                                <a href="{{ site.mentors_form }}" target="_blank">Mentor</a>
                            </div>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>