<section id="text-carousel-intro-section" class="snow-section">
    <div class="header text-white" >
        <div class="cover-flatirons"></div>
        <div class="container">
            <div class="caption text-center">

                <div id="logo" class="logo">
                    <br>
                    <img src="img/localhackday.svg" alt="Local Hack Day Logo">
                    <h2>Hosted by <a href="https://hackcu.org" style="color: inherit;">HackCU</a></h2><br>
                    <h3>Coming soon</h3>
                    <!-- <h3>Idea Forge, Boulder</h3> -->
                    <!-- <center><a class="btn btn-lg btn-blank" role="button" href="https://hackday.mlh.io/University-of-Colorado-Boulder">Registrations Open!</a></center> -->
                </div>

                <div class="extra-space-l"></div>
            </div>
        </div>
    </div>
</section>